<!doctype html>
<html>
<head>
  <title>Online Calculator</title>
</head>
<body>
  <h1></h1>
<form action="/supercalculator" method="POST">
	<input type="number" id="number1" name="first_number" placeholder="1st Number"> ?
	<input type="number" id="number2" name="second_number" placeholder="2nd number">
	<button type="submit" name="operator" value="sum">Sum</button>
	<button type="submit" name="operator"value="substract">Substract</button>
	<button type="submit" name="operator" value="multiply">Multiply</button>
	<button type="submit" name="operator"value="divide">Divide</button>

</form>

<!-- <form method="POST" action="/supercalculator"> 
	<input type="number" id="number1" name="first_number" placeholder="1st Number"> -
	<input type="number" id="number2" name="second_number" placeholder="2nd number">
	<button type="submit" name="operator"value="substract">Substract</button>
</form>
<form method="POST" action="/supercalculator">
	<input type="number" id="number1" name="first_number" placeholder="1st Number"> *
	<input type="number" id="number2" name="second_number" placeholder="2nd number">
	<button type="submit" name="operator" value="multiply">Multiply</button>
</form>
<form method="POST"action="/supercalculator">
	<input type="number" id="number1" name="first_number" placeholder="1st Number"> /
	<input type="number" id="number2" name="second_number" placeholder="2nd number">
	<button type="submit" name="operator"value="divide">Divide</button>
</form> -->
</body>
</html>