<h1>Welcome to Ironhack</h1>
<img src="http://startuc3m.com/wp-content/uploads/2015/10/ironhack_logonegro.png" width="10%">
<br>
<br>
<form action="/login" method="POST">
	<label>Name:<input type=text placeholder="Enter your name" name="student_name" require="true"></label><br>
	<label>Age:<input type="date" placeholder="Enter your age" name="student_birth_date" require="true"></label><br>
	<label>Experience:<input type="checkbox" name="student_experience" value="true" require="true">Yes<input type="checkbox" name="student_experience" value="false" require="true">No</label><br>
	<label>Email:<input type"text" placeholder="Email" name="student_email" require="true"></label><br>
	<button type="submit">Register</button>
</form>